.loginForm{
  margin: 120px auto;
  width: 35%;
  text-align: center;
  background: linear-gradient(to bottom, #6A0DAD, #c25c8f);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.error{
  text-align: center;
  color: red;
  font-size: large;
}
.success{
  text-align: center;
  color: green;
  font-size: large;
}
.loginForm p{
  margin: 0;
  text-align: center;
  font-size: larger;
}
.link{
  color: white;
}
.link:hover{
  color: #6A0DAD;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    min-height: 270px;
    margin: auto;
  }
  


  .inputField {
    width: 95%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    background-color: #6A0DAD;
    color: white;
    font-size: large;
    border: 1px solid #6A0DAD;
    border-radius: 10px;
  }
  
  .button {
    width: 70%;
    padding: 10px;
    height: 40px;
    background-color:#6A0DAD;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    font-size: larger;
  }
  
  .button:hover {
    color: white;
    background-color: #2f094b;
  }
  
  /* Responsive Styles */
@media (max-width: 1024px) {
  .loginForm {
    width: 50%;
    padding: 15px;
  }

  .button {
    width: 80%;
    padding: 8px;
    height: 35px;
    font-size: medium;
  }

  .inputField {
    width: 90%;
    height: 28px;
    padding: 8px;
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .loginForm {
    width: 70%;
    padding: 15px;
    margin: 60px auto;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    min-height: 240px;
    margin: auto;
  }

  .button {
    width: 85%;
    padding: 8px;
    height: 35px;
    font-size: medium;
  }

  .inputField {
    width: 85%;
    height: 28px;
    padding: 8px;
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .loginForm {
    width: 80%;
    padding: 10px;
    margin: 40px auto;
    margin-top: 180px;
  }

  .button {
    width: 100%;
    padding: 6px;
    height: 30px;
    font-size: small;
  }

  .inputField {
    width: 100%;
    height: 25px;
    padding: 6px;
    font-size: small;
  }

  .loginForm p {
    font-size: medium;
  }

  .error, .success {
    font-size: medium;
  }
}