
 .todos{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: auto;
  width: 70%;
  height: 100vh;
} 

.container {
    width: 550px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #6A0DAD;
    border-radius: 20px;
    background: linear-gradient(to bottom, #6A0DAD, #c25c8f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 10px;
  }
  
  .form {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right, #6A0DAD, #c25c8f);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px 0;
    position: absolute; 
    top: 0;
    z-index: 555;
  }
  
  .startTodo{
    background-color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    color: black;
    font-size: large;
  }
  .startTodo:nth-child(even){
    background: #6A0DAD;
  }
  .progressTodo{
    background-color: #28a745;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    font-size: large;
  }
  .doneTodo{
    background-color: blue;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    font-size: large;
  }
  .editForm {
    display: none;
    width: 82%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #6A0DAD, #c25c8f);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    position: absolute; 
    top: 0;
    z-index: 555;
  }
  .noTodos{
    text-align: center;
    margin-top: 100px;
  }
  .editForm .input{
    margin: auto;
  }
  .editForm .inputField{
    width: 88%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 20px;
  }

  .form .inputField {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 20px;
  }
  
  .button {
    width: 80px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #218838;
  }
  #editForm{
    display: none;
  }

  .saveClose{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
  }

  .saveButton{
    background-color: #28a745;
    width: 80px;
    height: 30px;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 20px;
  }

  .editForm .closeEdit:hover{
    cursor: pointer;
  }

   .editForm .closeEdit{
    font-size: xx-large;
    color: black;
    margin: 0;
  }

  .todoList {
    list-style: none;
    padding: 0;
    margin: auto;
    margin-top: 180px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 350px;
    overflow: scroll;
  }

  .todoList li:nth-child(odd){
    background: linear-gradient(to left, #6A0DAD, #c25c8f);
  }

  .todoDate{
    font-style: italic;
    text-align: center;
  }
  .todoList::-webkit-scrollbar{
    display: none;
  }
  
  .todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
    color: black;
    font-weight: 300;
    background: linear-gradient(to right, #6A0DAD, #c25c8f);
  }
  
  .todoItem h3 {
    margin: 0;
  }
  
  .todoItem p {
    width: 80%;
    line-height: normal;
    word-wrap: break-word;
    margin: 5px 0 0 0;
  }
  button:hover{
    cursor: pointer;
  }
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .controlBtns{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30px;
  }
  .todosData{
    width: 95%;
  }
  .controlBtns button{
    height: 35px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteButton:hover {
    background-color: #c82333;
  }
  
  .editButton{
    color: green;
    border-radius: 5px;
  }

/* *******************RESPONSIVE STYLES************** */


@media only screen and (max-width: 1024px) {
  .todos{
  width: 100%;
  height:fit-content;
  flex-direction: column;
} 

.container {
    width: 100%;
    margin:auto;
    position:relative;
    padding: 10px;
  }
  
  .form {
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }

  .editForm {
    display: none;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 10px 0;
  }
  
  .startTodo{
    width: 200px;
    height: 35px;
    font-size: large;
  }

  .progressTodo{
    width: 200px;
    height: 35px;
    font-size: large;
  }
  .doneTodo{
    width: 200px;
    height: 35px;
    font-size: large;
  }
  .noTodos{
    margin-top: 70px;
  }
  .editForm .inputField, .form .inputField{
    width: 95%;
    margin: 10px;
    font-size: medium;
    padding: 15px 8px;
  }
  p{
    font-size: large;
  }
  h3{
    font-size: x-large;
  }
  .input{
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  
  .button {
    width: 89%;
    font-size: large;
    padding: 10px;
    margin: 10px 10px 10px 18px;
  }
  

  .saveClose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: 100%;
  }

  .saveButton{
    width: 84%;
    height: 40px;
    padding: 8px;
  }

   .editForm .closeEdit{
    font-size: xx-large;
  }

  .todoList {
    padding: 0;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    height: fit-content;
  }

  
  .todoItem {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .controlBtns button{
    height: 40px;
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .todos{
  width: 100%;
  height:fit-content;
  flex-direction: column;
} 

.container {
    width: 90%;
    margin:auto;
    position:relative;
    padding: 10px;
  }
  
  .form {
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }
 p{
    font-size: medium;
  }
  h3{
    font-size: large;
  }

  .editForm .inputField, .form .inputField{
    font-size: small;
  }
  .editForm {
    display: none;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 10px 0;
  }
  .button {
    font-size: medium;
  }
  .startTodo{
    width: 150px;
    height: 30px;
    font-size: large;
  }

  .progressTodo{
    width: 150px;
    height: 30px;
    font-size: large;
  }
  .doneTodo{
    width: 150px;
    height: 30px;
    font-size: large;
  }

}

@media only screen and (max-width: 484px) {
.container {
    width: 89%;
  }
  
  .form {
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }

  .editForm {
    display: none;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 10px 0;
  }
  
  .startTodo, .progressTodo, .doneTodo{
    height: 30px;
    font-size: small;
  }

  .noTodos{
    margin-top: 70px;
  }
  .editForm .inputField,.form .inputField{
    width: 95%;
    margin: 10px 0;
    height: 20px;
    padding: 8px 10px;
    font-size: smaller;
  }
  
  .button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    font-size: medium;
  }
  

  .saveClose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    width: 100%;
  }

  .saveButton{
    width: 80%;
    height: 35px;
    padding: 8px;
  }

   .editForm .closeEdit{
    font-size: xx-large;
  }

  .todoList {
    padding: 0;
    margin: auto;
    margin-top: 30px;
    width: 98%;
    height: fit-content;
  }

  
  .todoItem {
    display: flex;
    justify-content: space-between;
    width: 93%;
  }

  .controlBtns button{
    height: 30px;
    width: 20px;
  }
}



@media only screen and (max-width: 300px) {
  
  .form {
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }

  .editForm {
    display: none;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 10px 0;
  }
  
  .startTodo, .progressTodo, .doneTodo{
    height: 25px;
    font-size: smaller;
  }

  .editForm .inputField,.form .inputField{
    margin: 5px 0;
    height: 18px;
    padding: 5px 8px;
    font-size: smaller;
  }
  
  .button {
    padding: 8px;
    margin-top: 10px;
    font-size: small;
  }
  

  .saveClose{
    gap: 8px;
  }

  .saveButton{
    width: 80%;
    height: 30px;
    padding: 8px;
  }

   .editForm .closeEdit{
    font-size: xx-large;
  }

  .controlBtns button{
    height: 25px;
    width: 18px;
  }
}